
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dust 2</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    </head>
<body>
        <header>
            <h1>Smoke Dust 2</h1>
        </header>
        <h2>Smoke caixa gorda</h2>
        <img src="/images/dust2/caixaGorda.gif" width="854" height="480">
        <img src="/images/dust2/caixaGorda.png" width="854", height="480">
                
        <h2>Smoke meio (base CT)</h2>

        <img src="/images/dust2/meioCt.gif" width="854", height="480">
        <img src="/images/dust2/meioCt.png" width="854", height="480">
        
        <footer>
            <small>SEM FOOTER AINDA</small>
        </footer>
    </body>
</html>